@model IEnumerable<DBAccessLibrary.Company>

@{
    ViewData["Title"] = "Companies";
}



<p>
    <a asp-action="Create">Create New Company</a>
</p>

@await Html.PartialAsync("_Message")

@if (Model.Count() == 0)
{
    <h8 class="message">There is no company in the system. Please start defining companies...</h8>

}
else
{
    <table class="table">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="card m-3">
                            <div class="card-header">
                                <h3>@item.Name</h3>
                            </div>
                            <div class="card-footer text-center">
                                <a asp-action="Create" asp-controller="Contacts" asp-route-companyId="@item.Id" class="btn btn-primary btn-custom">Add contact</a>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-custom">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-custom">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary btn-custom">Delete</a>
                            </div>
                        </div>
                    </td>

                </tr>
            }
        </tbody>
    </table>

}
